.quiz-container{
    margin: 0 auto;
    border: 1px solid  rgb(31, 226, 240);
    border-radius: 15px;
}
.quiz-container .img-fluid{
    width: 260px;
    background-color: rgb(200, 231, 233);
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.quiz-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quiz-text p{
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.quiz-text .name{
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
    color: #000;
}
.btn-quiz{
    margin: 0;
    border: none;
    background: rgb(29, 194, 206);
    color: #fff;
    margin: 8px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}